
.logo{float:left;padding-top: 10px;width:50%;}

.menubar{width: 50%;float: left;}

.menubar ul{margin:0px;padding:0px; }

.menubar ul li{list-style-type:none; float:left;}

.menubar ul li a{display:block; font-family:tahoma;font-size:15px;color:#333; text-decoration:none;padding:30px 18px;}

.menubar ul li a:hover{color:#993408; }

.slider{background-color:#7A7676; height:auto;}

.sliderimage{padding-bottom:20px; padding-top:20px; }

.pages{height:auto; width:100%; padding-top:20px; padding-bottom:30px;}

.verticalmenu{width:25%;float:left; }

.verticalmenu ul{ margin:0px;padding:0px; }

.verticalmenu ul li{ list-style-type:none;}

.verticalmenu ul li a{display:block; font-family:georgia;font-size:17px;color:#993408; text-decoration:none;padding:10px 20px; }

.verticalmenu ul li a:hover{background: transparent url(../images/menubar.png) no-repeat bottom;color: black;background-size: 100% 100%;width:100%;}

.page1{width:25%;float:left;height:auto;}

.heading{font-family:georgia;font-size:15px; color:#000;padding-top:10px;padding-left:30px; }

.pageimage{padding-left:30px; }

.pageinfo{font-family:tahoma;font-size:13px;color:#333;padding-top:10px;padding-left:30px; }

.boxmenu{ width:100%;height:auto;float:left;padding-bottom:30px;}

.box1{width:25%;height:auto;float:left;}

.box1 ul{margin:0px;padding:0px; }

.box1 ul li{ list-style-type:none;}

.box1 ul li a{display:block; font-family:tahoma;font-size:13px;color:#888; text-decoration:none;padding:10px 20px; }

.box1 ul li a:hover{ color:#993408;}

.menuheading{ }

.menuheading a:hover{color:#888; }

.footerlogo{float:right; }

.copyrights{font-family:tahoma;font-size:13px;color:#999; }

h3{font-family:georgia;font-size:24px;color:#fff;}

p{font-family:tahoma;font-size:14px;color:#ccc;}

.carousel-caption {left: 74%;padding-bottom:10%;width:20%;}

.vertical .carousel-inner {height: auto;}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel-control {width:2%;height: 7%;}

.carousel.vertical .active { top: 0;}

.carousel.vertical .next { top: 400px;}

.carousel.vertical .prev { top: -400px;}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {top: 0;}

.carousel.vertical .active.left {top: -400px;}

.carousel.vertical .active.right { top: 400px;}

.carousel.vertical .item {left: 0;}

@media only screen and (max-width: 316px) {
     .verticalmenu{
            width:100%;
        }
}

@media only screen and (max-width: 452px) {
     .page1{
            width:100%;
        }
}

@media only screen and (max-width: 452px) {
     .box1{
            width:100%;
        }
}

@media only screen and (max-width: 481px) {
     .verticalmenu ul li a{
            padding: 15px 0px;
        }
}

@media only screen and (max-width: 692px) {
     .carousel-caption{
            width:50%;
            left:38%;
            padding-bottom:0%;
        }
}

@media only screen and (max-width: 492px) {
     .carousel-caption{
            width:90%;
            left:0%;
            padding-bottom:0%;
        }
}

@media only screen and (max-width: 991px) {
     .carousel-caption{
            width:39%;
            left:56%;
            padding-bottom:0%;
        }
}

@media only screen and (max-width: 532px) {
     .carousel-caption{
           display:none;
        }
}

@media only screen and (max-width: 622px) {
     .verticalmenu ul li a:hover{
           width:113%;
        }
}

@media only screen and (max-width: 464px) {
     .verticalmenu ul li a:hover{
           width:125%;
        }
}

@media only screen and (max-width: 450px) {
     .verticalmenu ul li a:hover{
           width:206%;
        }
}

@media only screen and (max-width: 316px) {
     .verticalmenu ul li a:hover{
           width:100%;
        }
}

@media only screen and (max-width: 557px) {
     .verticalmenu ul li a:hover{
           width:121%;
        }
}

@media only screen and (max-width: 520px) {
     .verticalmenu ul li a:hover{
           width:125%;
        }
}

@media only screen and (max-width: 439px) {
     .verticalmenu ul li a:hover{
           width:220%;
        }
}


@media only screen and (max-width: 316px) {
     .verticalmenu ul li a:hover{
           width:100%;
        }
}

